

<div> <h2>listing employee </h2></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

    <% @emp.each do |emp| %>
      <tr>
        <td><%= emp.name %></td>
        <td><%= emp.personal_email %></td>
        <td><%= emp.full_address %>
      </tr>
    <% end %>
    
  </tbody>
</table>













